<div class="container ">
    <h1 class="h2"> Nous contacter </h1>
    <div class="horizontal-line-5"></div>
        <div class="row mb-5">
          <div class="col-md-9">
              <form class="contactForm fv-form fv-form-bootstrap" id="contactForm"  novalidate="novalidate">
              
                <div class="d-md-flex mb-3"><span class="me-md-3 align-self-center">Veuillez choisir le service auquel vous voulez envoyer un mail :</span><span class="">
                  <select name="service" class="form-select  mt-3 mt-md-0" id="service-contact">
                    <option value="Webmaster">Webmaster</option>
                    <option value="Service Client">Service Client</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Commercial">Commercial</option>
                  </select>
                </span>
                </div>
                <div class="row g-3">
                  <div class="col-md-4 col-12">
                    <select name="title" class="form-select" id="title">
                      <option>Civilité*</option>
                      <option value="Mr">Mr</option>
                      <option value="Mme">Mme</option>
                      <option value="Mlle">Mlle</option>
                    </select>
                  </div>
                  <div class="col-md-4 col-12">
                    <div class="form-group">
                      <input id="firstName" type="text" name="firstName" class="form-control" placeholder="Prénom*" required="required" >
                    </div>
                  </div>
                  
                  <div class="col-md-4 col-12">
                    <div class="form-group">
                      <input id="firstName" type="text" name="firstName" class="form-control" placeholder="Nom de famille*" required="required" >
                    </div>
                  </div>
                  <div class="col-md-4 col-12">
                    <div class="form-group">
                      <input id="firstName" type="text" name="firstName" class="form-control" placeholder="E-mail*" required="required" >
                    </div>
                  </div>
                  <div class="col-md-4 col-12">
                    <div class="form-group">
                      <input id="firstName" type="text" name="firstName" class="form-control" placeholder="Telephone*" required="required" >
                    </div>
                  </div>
                  <div class="col-md-8 col-12">
                    <div class="form-group">
                      <textarea id="message" name="message" class="form-control" placeholder="Message*" rows="1" required="required" data-fv-field="message"></textarea>
                    </div>
                  </div>
                  <div class="col-md-12 text-end">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                  </div>
</div>
</form>
          </div>
        </div>
</div>
 

    




<div>Contact <br>
    Adresse: <br>
    Angle rue des Entrepreneurs <br>
    Immeuble OCTY, 3ème étage<br>
    Z.I Charguia II - 2035 TUNIS CARTHAGE<br>
    Tél:+(216) 70 103 507<br>
    Fax:+(216) 71 942 801<br>
</div>

