<div class="c">
    <app-menubackoffice></app-menubackoffice>
<div class="container ">
    <h1 class="h2"> Supprimer un produit touristique </h1>
    <div class="horizontal-line-5"></div>
        <div class="row mb-5">
          <div class="col-md-9">
              <form [formGroup]="Supprimer" (ngSubmit)="Delete(Supprimer)" class="contactForm fv-form fv-form-bootstrap"  novalidate="novalidate">
              
                <div class="d-md-flex mb-3"><span class="me-md-3 align-self-center">Veuillez choisir la region de produit touristique :</span><span class="">
                  <select formControlName="region" class="form-select  mt-3 mt-md-0">
                    <option value="Tunis">Tunis</option>
                    <option value="Hammamet">Hammamet</option>
                    <option value="Ain Draham">Ain Draham</option>
                    <option value="Tozeur">Tozeur</option>
                    <option value="Djerba">Djerba</option>
                  </select>
                </span>
                </div>
                <div class="row g-3">
                  <div class="col-md-4 col-12">
                    <div class="form-group">
                      <input formControlName="identifiant" type="text" name="firstName" class="form-control" placeholder="identifiant*" [(ngModel)]="produit.identifiant">
                    </div>
                  </div>
                  <div class="col-md-4 col-12">
                    <div class="form-group">
                      <input formControlName="libelle" type="text" name="firstName" class="form-control" placeholder="libelle*" [(ngModel)]="produit.libelle">
                    </div>
                  </div>
                  <div class="col-md-8 text-end">
                    <button type="submit" class="btn btn-primary">Suprimer</button>
                  </div>
                  <div class="col-md-8 text-end">
                    <button type="reset" class="btn btn-primary" (click)="onVider(Supprimer)">Vider</button>
                  </div>
</div>
</form>
          </div>
        </div>
</div>

</div>
