<app-menu></app-menu>
<div class="container">
    <div class="row">
        <ng-container *ngFor="let t of HotelAinDraham">
           <div class="col-4">
             <div class="card " style="width:400px">
      
               <img class="card-img-top" [src]="t.tableau_img[0]" alt="Card image">
          
                <div class="card-body">
                <h4 class="card-title">{{t.libelle|titlecase}}</h4>
                  <p class="card-text">{{t.ville|ville}}</p>
                    <a  [routerLink]="['/HotelsAinDrahim',t.libelle]" class="btn btn-warning">VOIR L'HÔTEL</a>
                 </div>
             </div>
           </div>
        </ng-container>
    </div>
</div>