<div *ngIf="Ajouter.value['region']=='Tunis'">
    <app-tunis></app-tunis>
</div>
<div *ngIf="Ajouter.value['region']=='Hammamet'">
    <app-hammamet></app-hammamet>
</div>
<div *ngIf="Ajouter.value['region']=='Ain Draham'">
    <app-ain-drahim></app-ain-drahim>
</div>
<div *ngIf="Ajouter.value['region']=='Tozeur'">
    <app-tozeur></app-tozeur>
</div>
<div *ngIf="Ajouter.value['region']=='Djerba'">
    <app-djerba></app-djerba>
</div>
<div class="container ">
    <h1 class="h2"> Ajouter un nouveau produit touristique </h1>
    <div class="horizontal-line-5"></div>
        <div class="row mb-5">
          <div class="col-md-9">
              <form [formGroup]="Ajouter" class="contactForm fv-form fv-form-bootstrap" (ngSubmit)="onAjouter(Ajouter)"  novalidate="novalidate">
              
                <div class="d-md-flex mb-3"><span class="me-md-3 align-self-center">Veuillez choisir la region de l'hotel :</span><span class="">
                  <select formControlName="region" class="form-select  mt-3 mt-md-0" id="service-contact">
                    <option value="Tunis">Tunis</option>
                    <option value="Hammamet">Hammamet</option>
                    <option value="Ain Draham">Ain Draham</option>
                    <option value="Tozeur">Tozeur</option>
                    <option value="Djerba">Djerba</option>
                  </select>
                </span>
                </div>
                <div class="row g-3">
                  <div class="col-md-4 col-12">
                    <div class="form-group">
                      <input formControlName="identifiant" type="text" name="firstName" class="form-control" placeholder="identifiant*" [(ngModel)]="produit.identifiant">
                    </div>
                  </div>
                  <div class="col-md-4 col-12">
                    <div class="form-group">
                      <input formControlName="libelle" type="text" name="firstName" class="form-control" placeholder="libelle*" [(ngModel)]="produit.libelle">
                    </div>
                  </div>
                  <div class="col-md-4 col-12">
                    <div class="form-group">
                      <input formControlName="ville" type="text" name="firstName" class="form-control" placeholder="ville*" [(ngModel)]="produit.ville">
                    </div>
                  </div>
                  <div class="col-md-4 col-12">
                    <div class="form-group">
                      <input formControlName="type" type="text" name="firstName" class="form-control" placeholder="type*" [(ngModel)]="produit.type">
                    </div>
                  </div>
                  <div class="col-md-4 col-12">
                    <div class="form-group">
                      <input formControlName="categorie" type="text" name="firstName" class="form-control" placeholder="categorie*" [(ngModel)]="produit.categorie">
                    </div>
                  </div>
                  <div class="col-md-4 col-12">
                    <div class="form-group">
                      <input formControlName="prix" type="text" name="firstName" class="form-control" placeholder="prix*" [(ngModel)]="produit.prix">
                    </div>
                  </div>
                  <div class="col-md-12 text-end">
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                  </div>
</div>
</form>
          </div>
        </div>
</div>

    {{alert}}
    {{produit|json}}
