<br>
<div class="box">
   <form>
    <div class="txt">
     <div class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"> 
        <img src="assets/po2.PNG" height="18px" width="18px">Destination  </a>
      <ul class="dropdown-menu" #ul>
       <!--top destination--> 
        <li><a href="#"> <img src="assets/position.PNG" height="18px" width="18px"> Korba,Tunisie</a></li>
        <li><a href="#"> <img src="assets/position.PNG" height="18px" width="18px"> Hammamet,Tunisie</a></li>
        <li><a href="#"> <img src="assets/position.PNG" height="18px" width="18px"> Tunis,Tunisie</a></li>
        <li><a href="#"> <img src="assets/position.PNG" height="18px" width="18px"> Carthage,Tunisie</a></li>
        <li><a href="#"> <img src="assets/position.PNG" height="18px" width="18px"> Monastir,Tunisie</a></li>
        <li><a href="#"> <img src="assets/position.PNG" height="18px" width="18px"> Djerba,Tunisie</a></li>
        <li><a href="#"> <img src="assets/position.PNG" height="18px" width="18px"> Mahdia,Tunisie</a></li>
        <li><a href="#"> <img src="assets/position.PNG" height="18px" width="18px"> Tozeur,Tunisie</a></li>
      </ul>
      <input type="text" [value]="ul">
     <span></span>
    </div>

    <div class="horizontal-line-50"></div>
    <label>date Depart</label>
    <input type="date"    >
    <span></span>
  
   <label>date Arriver</label></div>
     <input type="date">
     <span></span>
    
    
    <input class="fab fa-sistrix" class="btn" value="search">
   </form>
 </div>
