<div *ngIf="Modifier.value['categorie']=='Tunis'">
    <app-tunis></app-tunis>
</div>
<div *ngIf="Modifier.value['categorie']=='Hammamet'">
    <app-hammamet></app-hammamet>
</div>
<div *ngIf="Modifier.value['categorie']=='Ain Draham'">
    <app-ain-drahim></app-ain-drahim>
</div>
<div *ngIf="Modifier.value['categorie']=='Tozeur'">
    <app-tozeur></app-tozeur>
</div>
<div *ngIf="Modifier.value['categorie']=='Djerba'">
    <app-djerba></app-djerba>
</div>
<div class="container ">
    <h1 class="h2"> Modifier les informations relatives à un produit touristique </h1>
    <div class="horizontal-line-5"></div>
        <div class="row mb-5">
          <div class="col-md-9">
              <form [formGroup]="Modifier" class="contactForm fv-form fv-form-bootstrap" (ngSubmit)="onModifier(Modifier)"  novalidate="novalidate">
              
                <div class="d-md-flex mb-3"><span class="me-md-3 align-self-center">Veuillez choisir la region de l'hotel :</span>
                  <select formControlName="categorie" [(ngModel)]="produit.categorie" class="form-select  mt-3 mt-md-0" id="service-contact">
                    <option value="Tunis">Tunis</option>
                    <option value="Hammamet">Hammamet</option>
                    <option value="Ain Draham">Ain Draham</option>
                    <option value="Tozeur">Tozeur</option>
                    <option value="Djerba">Djerba</option>
                  </select>
                  {{Modifier.controls.categorie.value}}
                </div>
                <div class="row g-3">
                <span *ngIf="mySelected()">
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                          <input formControlName="identifiant" type="text" name="firstName" class="form-control" placeholder="identifiant*" [(ngModel)]="produit.identifiant">
                          <ng-container *ngFor="let h of hotel">
                              <span *ngIf="h.identifiant!=produit.identifiant" class="alert alert-danger">
                                <div >
                                    <strong>Erreur!</strong> hotel introuvable.
                                  </div>
                              </span>
                          </ng-container>
                        </div>
                      </div>
                </span>
                
                  <span>

                  </span>
                  <div class="col-md-4 col-12">
                    <div class="form-group">
                      <input formControlName="libelle" type="text" name="firstName" class="form-control" placeholder="libelle*" [(ngModel)]="produit.libelle">
                    </div>
                  </div>
                  <div class="col-md-4 col-12">
                    <div class="form-group">
                      <input formControlName="promotion" type="text" name="firstName" class="form-control" placeholder="categorie*" [(ngModel)]="produit.promotion">
                    </div>
                  </div>
                  <div class="col-md-4 col-12">
                    <div class="form-group">
                      <input formControlName="prix" type="text" name="firstName" class="form-control" placeholder="prix*" [(ngModel)]="produit.prix">
                    </div>
                  </div>
                  <div class="col-md-12 text-end">
                    <button type="submit" class="btn btn-primary">Modifier</button>
                  </div>
        </div>
        </form>
          </div>
        </div>
</div>

    {{alert}}
    {{produit|json}}<br>
    {{hotel|json}}
