<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="Profile"><img src="assets/logo0.png" style="margin-top: -10px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <div class="col-sm-12 col-sm-offset-11">
            <ul class="dropdown">
                <li class= "nav-item ">Best Tunisia Travel</li>
                <a class="dropdowns" data-toggle="dropdown" ><i class="fas fa-bars" style="color:white; font-size: 15px;"></i></a> 
                <ul class="dropdown-menu">
                    <li><a routerLink="/Best-Tunisia-Travel/connecter">Administrateur</a></li>
                    <li><a routerLink="/Best-Tunisia-Travel/accueil">Simple Utilisateur</a></li>
                </ul>
            </ul>
        </div>
      </div>
    </div>
  </nav>
  <br><br><br><br><br>
  <router-outlet></router-outlet>
