<div class="container">
    <div class="row">
        <ng-container *ngFor="let t of MTunis">
           <div class="col-4">
             <div class="card " style="width:400px">
      
               <img class="card-img-top" [src]="t.tableau_img[0]" alt="Card image">
          
                <div class="card-body">
                <h4 class="card-title">{{t.libelle}}</h4>
                  <p class="card-text">{{t.ville}}</p>
                    <a [routerLink]="['/',t.libelle]" class="btn btn-warning" >VOIR La MAISON D'HÔTEL</a>
                 </div>
             </div>
           </div>
        </ng-container>
    </div>
</div>
